.grid-container {
  overflow-x: auto;
  /* Enable horizontal scrolling */
  overflow-y: auto;
  /* Enable vertical scrolling */
  white-space: nowrap;
  /* Prevent wrapping of grid rows */
}

.grid {
  display: flex;
  flex-direction: column;
  width: max-content;
  /* Ensure the grid takes up the necessary width */
}

.grid-row {
  display: flex;
}

.grid-item {
  width: 2em;
  height: 2em;
  border: 1px solid #000;
  /* Optional: for visual separation */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Ensure content does not overflow the squares */
}

.hovered-cell-info {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5em;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 1;
}